.card {
    width: 590px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(12, 12, 32);
    padding: 45px;
    color: white;
    border-radius: 20px;
    position: relative;
}

.card_tweets {
    width: 600px;
    margin: 50px auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    padding: 2rem;
    color: rgb(12, 12, 43);
    border-radius: 20px;
    position: relative;
    border: 1px solid lightgray
}

.tweetMsg {
    padding: 1rem;
    border-bottom: 1px solid lightgrey;
    word-break: break-all;
    display: flex;
    flex-direction: column;
}

.tweetDate {
    color: #9191ad;
    font-size: 0.75rem;
}
.tweet_remove {
    align-self: flex-end;
    cursor: pointer;
}
.tweet_remove:hover {
    color: red;
}

.form-group {
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border-radius: 10px;
    padding: 5px;
}

.form-group label {
    color: rgb(228, 227, 227);
    display: flex;
    justify-content: space-between;
    margin-left: 3px;
}

.form-group span{
    color: grey;
}

.form-group input,
.form-group textarea {
    height: 1.5rem;
    border-style: none;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    margin-left: 3px;
}

.form-group input:focus,
.form-group textarea:focus {
    border-style: none;
    outline: none;
}

button {
    border-radius: 15px;
    padding: 8px 30px;
    background-color: #1da7f2;
    border: none;
    color: white;
    font-weight: 400;
    float: right;
}

.errorMessage {
    color: red
}